.article{
  margin: 5px;
}
.title{
  font-size: 25px;
  margin-bottom: 10px;
}
.article__title{
  position: absolute;
  color: #fff;
  background: #000;
  padding: 10px;
}
.article__img img{
  width: 100%;
}
hr{
  margin-bottom: 15px;
}
