.wrapper
  .col-tabletLog-1-3
    .about
      .about__title
        |About
      hr
      .about__info
        |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

.wrapper      
  .col-phablet-1-2.col-laptop-1-4
    .about
      .about__img
        img(src="https://www.w3schools.com/w3images/team2.jpg")
      .about__name
        |John Doe
      .about__profession
        |CEO & Founder
      .about__skills
        |Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
      .about__contact
        button
          |Contact

.wrapper
  .col-phablet-1-2.col-laptop-1-4
    .about
      .about__img
        img(src="https://www.w3schools.com/w3images/team1.jpg")
      .about__name
        |Jane Doe
      .about__profession
        |Architect
      .about__skills
        |Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
      .about__contact
        button
          |Contact

.wrapper
  .col-phablet-1-2.col-laptop-1-4
    .about
      .about__img
        img(src="https://www.w3schools.com/w3images/team3.jpg")
      .about__name
        |Mike Ross
      .about__profession
        |Architect
      .about__skills
        |Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
      .about__contact
        button
          |Contact

.wrapper
  .col-phablet-1-2.col-laptop-1-4
    .about
      .about__img
        img(src="https://www.w3schools.com/w3images/team4.jpg")
      .about__name
        |Dan Star
      .about__profession
        |Architect
      .about__skills
        |Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
      .about__contact
        button
          |Contact