.col-tabletLog-1-3  
  .footer
    .footer__name
      a(href="#")
        |Powered by Ivan
    .footer__icon
      a.skype(href="skype: Ivan_Chornomaz")
        <i class="fab fa-skype"></i>
      a.viber(href="viber: +380993031845")
        <i class="fab fa-viber"></i>
      a.messenger(href="messenger: Ivan_Chornomaz")
        <i class="fab fa-facebook-messenger"></i>
      a.whatsapp(href="whatsapp: +380993031845")
        <i class="fab fa-whatsapp"></i>
      a.telegram(href="telegram: Ivan")
        <i class="fab fa-telegram"></i>
    .footer__date
      |2018